:root {
  --main-bg-color: rgba(22, 34, 57, 0.95);
  --main-text-color: #f5a425;
}

@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css');
@import '@webpixels/css';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f5f9fc !important;
}

#main__bg-color {
  background-color: var(--main-bg-color);
  color: #fff;
}

.main__bg-color {
  background-color: var(--main-bg-color);
  color: #fff;
}
.main__bg-color label {
  color: #fff;
}
/* Basic */

.main__home {
  min-height: 85vh;
}

a {
  color: inherit;
  text-decoration: none;
}

.hover-scale,
.hover-scale:hover {
  transition: transform 0.2s ease-in;
}

.form-label {
  font-size: 1.2rem;
  margin: 10px 0;
}

i {
  padding: 10px;
  font-size: 20px;
  min-width: 50px;
  text-align: center;
}

#product__card {
  transition: all 0.3s;
  cursor: pointer;
  color: black;
  height: 250px;
}
#product__card:hover {
  color: white !important;
  box-shadow: 2px 2px 8px 8px var(--main-text-color) !important;
}

.offers__card {
  transition: all 0.3s;
  cursor: pointer;
  height: 400px;
}
.offers__card:hover {
  color: white !important;
  box-shadow: 2px 2px 8px 8px var(--main-text-color) !important;
}
